body{
    width:100%;
    height:100vh;
    background-color:red;
    background-image:url(../images/coding-workspace-setup-stockcake.webp);
    background-repeat:no-repeat;
    background-size:cover;
    margin:auto;
}

#main{
    width:100%;
    height:auto;
    padding:20px;
    background-color:rgba(0, 0, 255, 0);
    color:white;
    text-align:center;
    position:absolute;
    top:150px;
}

#main h3{
    font-size:30px;
}

#main h1{
    font-size:85px;
    font-weight:700;
}

#main h2{
    font-size:40px;
    padding:10px 0 20px 0;

}

#main span{
    color:#8b37ff;
}

#butt{
    width:15%;
    padding:15px;
    background-color:#8b37ff;
    border-radius:100px;
    margin:auto;
}

#butt a{ 
    text-decoration:none;
    color:white;
    font-weight:500;
    font-size:20px;
}